PayloadType                     : 166

#======== Applicability  ==========    ( SEI is only send for pictures in intersection )
ApplicableLayerIds              :                             # LayerIds      of layers   to which the SEI is added. (all when empty)
ApplicablePocs                  :                             # POCs          of pictures to which the SEI is added. (all when empty)
ApplicableTids                  :                             # Tids          of pictures to which the SEI is added. (all when empty)
ApplicableVclNaluTypes          :                             # NaluUnitTypes of picture  to which the SEI is added. (all when empty)

#======== Position in bit stream  ============
SeiNaluId                       : 0                              # Identifies to which NAL unit  the SEI is added.
PositionInSeiNalu               : 0                              # Identifies the position within the NAL unit

#======== Payload modification =============
ModifyByEncoder                 : 0                            #  0: Use payload as specified in cfg file   1: Modify SEI by encoder.

#======== Payload specification =============
OverlayInfoCancelFlag           : 0
OverlayContentAuxIdMinus128     : 1
OverlayLabelAuxIdMinus128       : 2
OverlayAlphaAuxIdMinus128       : 3
OverlayElementLabelValueLengthMinus8: 0
NumOverlaysMinus1               : 1
OverlayIdx                      : 2 5
LanguageOverlayPresentFlag      : 0 1
OverlayContentLayerId           : 0 2
OverlayLabelPresentFlag         : 1 1
OverlayLabelLayerId             : 1 3
OverlayAlphaPresentFlag         : 0 0
OverlayAlphaLayerId             : 
NumOverlayElementsMinus1        : 3 0
OverlayElementLabelMin_0        : 40 100 170 230
OverlayElementLabelMax_0        : 80 140 210 255
OverlayElementLabelMin_1        : 40
OverlayElementLabelMax_1        : 80
OverlayLanguage_0               : Language overlay 0
OverlayLanguage_1               : Language overlay 1
OverlayName_0                   : Overlay 0
OverlayName_1                   : Overlay 1
OverlayElementName_0_0          : Overlay 0 Element 0
OverlayElementName_0_1          : Overlay 0 Element 1
OverlayElementName_0_2          : Overlay 0 Element 2
OverlayElementName_0_3          : Overlay 0 Element 3
OverlayElementName_0_4          : Overlay 0 Element 4
OverlayElementName_1_0          : Overlay 1 Element 0
OverlayInfoPersistenceFlag      : 1