
PayloadType                     : 181

#======== Applicability  ==========    ( SEI is only send for pictures in intersection )
ApplicableLayerIds              : 0                               # LayerIds      of layers   to which the SEI is added. (all when empty)
ApplicablePocs                  : 0 24 48 72 96 120 144 168 192 216 240 264 288  # 300
                                                                  # POCs          of pictures to which the SEI is added. (all when empty)
ApplicableTids                  :                                 # Tids          of pictures to which the SEI is added. (all when empty)
ApplicableVclNaluTypes          :                                 # NaluUnitTypes of picture  to which the SEI is added. (all when empty)

#======== Position in bit stream  ============
SeiNaluId                       : 0                               # Identifies to which NAL unit  the SEI is added
PositionInSeiNalu               : 0                               # Identifies the position within the NAL unit

#======== Payload modification =============
ModifyByEncoder                 : 0                               # 0: Use payload as specified in cfg file   1: Modify SEI by encoder.

#======== Payload specification =============                     # FP Value by ATM 13.3 SEI dump
                                                                  # Newspaper
#======== Part 0 ============================
AlternativeDepthInfoCancelFlag  : 0
DepthType                       : 0                               # 0: NICT-GVD, 1: Nagoya-Warpmap
NumConstituentViewsGvdMinus1    : 1                               # 1: 3View
DepthPresentGvdFlag             : 0
ZGvdFlag                        : 1
IntrinsicParamGvdFlag           : 1
RotationGvdFlag                 : 1
TranslationGvdFlag              : 1
#======== Part 1 ============================
SignGvdZNearFlag_0              : 0         0         0           # -2715.181648 # -2715.181648 # -2715.181648
ExpGvdZNear_0                   : 42        42        42
ManLenGvdZNearMinus1_0          : 24        24        24
ManGvdZNear_0                   : 10931104  10931104  10931104
SignGvdZFarFlag_0               : 0         0         0           # -9050.605493 # -9050.605493 # -9050.605493
ExpGvdZFar_0                    : 44        44        44
ManLenGvdZFarMinus1_0           : 24        24        24
ManGvdZFar_0                    : 3516848   3516848   3516848
#======== Part 2 ============================
PrecGvdFocalLength              : 18                              # ATM code embeded value.
PrecGvdPrincipalPoint           : 18
PrecGvdRotationParam            : 18
PrecGvdTranslationParam         : 18
#======== Part 3 ============================
SignGvdFocalLengthX_0           : 0         0         0           # 2929.494052 # 2929.494052 # 2929.494052
ExpGvdFocalLengthX_0            : 42        42        42
ManGvdFocalLengthX_0            : 231078376 231078376 231078376
SignGvdFocalLengthY_0           : 0         0         0           # 2922.706450 # 2922.706450 # 2922.706450
ExpGvdFocalLengthY_0            : 42        42        42
ManGvdFocalLengthY_0            : 229299047 229299047 229299047
SignGvdPrincipalPointX_0        : 0         0         0           # 307.633344 # 307.633344 # 307.633344
ExpGvdPrincipalPointX_0         : 39        39        39
ManGvdPrincipalPointX_0         : 13535371  13535371  13535371
SignGvdPrincipalPointY_0        : 0         0         0           # 555.010969 # 555.010969 # 555.010969
ExpGvdPrincipalPointY_0         : 40        40        40
ManGvdPrincipalPointY_0         : 11275067  11275067  11275067
SignGvdR00_0                    : 0         0         0           # 1.000000 # 1.000000 # 1.000000
ExpGvdR00_0                     : 31        31        31
ManGvdR00_0                     : 0         0         0
SignGvdR01_0                    : 0         0         0           # 0.000000 # 0.000000 # 0.000000
ExpGvdR01_0                     : 0         0         0
ManGvdR01_0                     : 0         0         0
SignGvdR02_0                    : 0         0         0           # 0.000000 # 0.000000 # 0.000000
ExpGvdR02_0                     : 0         0         0
ManGvdR02_0                     : 0         0         0
SignGvdR10_0                    : 0         0         0           # 0.000000 # 0.000000 # 0.000000
ExpGvdR10_0                     : 0         0         0
ManGvdR10_0                     : 0         0         0
SignGvdR11_0                    : 0         0         0           # 1.000000 # 1.000000 # 1.000000
ExpGvdR11_0                     : 31        31        31
ManGvdR11_0                     : 0         0         0
SignGvdR12_0                    : 0         0         0           # 0.000000 # 0.000000 # 0.000000
ExpGvdR12_0                     : 0         0         0
ManGvdR12_0                     : 0         0         0
SignGvdR20_0                    : 0         0         0           # 0.000000 # 0.000000 # 0.000000
ExpGvdR20_0                     : 0         0         0
ManGvdR20_0                     : 0         0         0
SignGvdR21_0                    : 0         0         0           # 0.000000 # 0.000000 # 0.000000
ExpGvdR21_0                     : 0         0         0
ManGvdR21_0                     : 0         0         0
SignGvdR22_0                    : 0         0         0           # 1.000000 # 1.000000 # 1.000000
ExpGvdR22_0                     : 31        31        31
ManGvdR22_0                     : 0         0         0
SignGvdTX_0                     : 0         1         0           # 16.248546 # 108.932867 # -76.435774
ExpGvdTX_0                      : 35        37        37
ManGvdTX_0                      : 65154     11778881  3259963
