
PayloadType                     : TBD

#======== Applicability  ==========    ( SEI is only send for pictures in intersection )
ApplicableLayerIds              : TBD                            # LayerIds      of layers   to which the SEI is added. (all when empty)
ApplicablePocs                  : TBD                            # POCs          of pictures to which the SEI is added. (all when empty)
ApplicableTids                  : TBD                            # Tids          of pictures to which the SEI is added. (all when empty)
ApplicableVclNaluTypes          : TBD                            # NaluUnitTypes of picture  to which the SEI is added. (all when empty)

#======== Position in bit stream  ============
SeiNaluId                       : 0                              # Identifies to which NAL unit  the SEI is added. 
PositionInSeiNalu               : 0                              # Identifies the position within the NAL unit

#======== Payload modification =============
ModifyByEncoder                 : TBD                            #  0: Use payload as specified in cfg file   1: Modify SEI by encoder.

#======== Payload specification =============
OverlayInfoCancelFlag           : 0
OverlayContentAuxIdMinus128     : 0
OverlayLabelAuxIdMinus128       : 0
OverlayAlphaAuxIdMinus128       : 0
OverlayElementLabelValueLengthMinus8: 0
NumOverlaysMinus1               : 0
OverlayIdx                      : 0
LanguageOverlayPresentFlag      : 0
OverlayContentLayerId           : 0
OverlayLabelPresentFlag         : 0
OverlayLabelLayerId             : 0
OverlayAlphaPresentFlag         : 0
OverlayAlphaLayerId             : 0
NumOverlayElementsMinus1        : 0
OverlayElementLabelMin_0        : 0
OverlayElementLabelMax_0        : 0
OverlayZeroBit                  : 0
OverlayLanguage                 : 0
OverlayName                     : 0
OverlayElementName_0            : 0
OverlayInfoPersistenceFlag      : 0
