PayloadType                     : 166

#======== Applicability  ==========    ( SEI is only send for pictures in intersection )
ApplicableLayerIds              :                             # LayerIds      of layers   to which the SEI is added. (all when empty)
ApplicablePocs                  :                             # POCs          of pictures to which the SEI is added. (all when empty)
ApplicableTids                  :                             # Tids          of pictures to which the SEI is added. (all when empty)
ApplicableVclNaluTypes          :                             # NaluUnitTypes of picture  to which the SEI is added. (all when empty)

#======== Position in bit stream  ============
SeiNaluId                       : 0                              # Identifies to which NAL unit  the SEI is added.
PositionInSeiNalu               : 0                              # Identifies the position within the NAL unit

#======== Payload modification =============
ModifyByEncoder                 : 0                            #  0: Use payload as specified in cfg file   1: Modify SEI by encoder.

#======== Payload specification =============
OverlayInfoCancelFlag           : 0
OverlayContentAuxIdMinus128     : 1
OverlayLabelAuxIdMinus128       : 2
OverlayAlphaAuxIdMinus128       : 3
OverlayElementLabelValueLengthMinus8: 0
NumOverlaysMinus1               : 0
OverlayIdx                      : 5
LanguageOverlayPresentFlag      : 1
OverlayContentLayerId           : 10
OverlayLabelPresentFlag         : 1
OverlayLabelLayerId             : 20
OverlayAlphaPresentFlag         : 0
OverlayAlphaLayerId             : 30
NumOverlayElementsMinus1        : 3
OverlayElementLabelMin_0        : 40 100 170 230
OverlayElementLabelMax_0        : 80 140 210 255
OverlayInfoPersistenceFlag      : 1

