# renderer config file for original data

FramesToBeRendered : 300         # !!! replace with actual number of frames
SourceWidth : 1024               # !!! replace with actual frame width
SourceHeight : 768               # !!! replace with actual frame height
BaseViewCameraNumbers : 3 1      # !!! replace with actual camera numbers

VideoInputFile_0 : org_0.yuv
VideoInputFile_1 : org_1.yuv
DepthInputFile_0 : org_depth_0.yuv
DepthInputFile_1 : org_depth_1.yuv
SynthOutputFileBaseName : org_synth_$.yuv
ContOutputFileNumbering : 1
FrameSkip : 0
SynthViewCameraNumbers : 0 .25000 .50000 .75000 1
CameraParameterFile : org_cam_pars.txt
RenderDirection : 0
RenderMode : 0
TemporalDepthFilter : 0
SimEnhance : 1
ShiftPrecision : 2
HoleFillingMode : 1
BlendMode : 0
BlendZThresPerc : 30
BlendUseDistWeight : 1
BlendHoleMargin : 6
Sweep : 0
