
PayloadType                     : 181

#======== Applicability  ==========    ( SEI is only send for pictures in intersection )
ApplicableLayerIds              : 0                     # LayerIds      of layers   to which the SEI is added. (all when empty)
ApplicablePocs                  : 0 24 48 72 96 120 144 168 192 216 240   # POCs          of pictures to which the SEI is added. (all when empty)
ApplicableTids                  :                       # Tids          of pictures to which the SEI is added. (all when empty)
ApplicableVclNaluTypes          :                       # NaluUnitTypes of picture  to which the SEI is added. (all when empty)

#======== Position in bit stream  ============
SeiNaluId                       : 0                               # Identifies to which NAL unit  the SEI is added
PositionInSeiNalu               : 0                               # Identifies the position within the NAL unit

#======== Payload modification =============
ModifyByEncoder                 : 0                               # 0: Use payload as specified in cfg file   1: Modify SEI by encoder.

#======== Payload specification =============                     # FP Value by ATM 13.3 SEI dump
                                                                  # Poznan Street
#======== Part 0 ============================
AlternativeDepthInfoCancelFlag  : 0
DepthType                       : 0                               # 0: NICT-GVD, 1: Nagoya-Warpmap
NumConstituentViewsGvdMinus1    : 1                               # 1: 3View
DepthPresentGvdFlag             : 0
ZGvdFlag                        : 1
IntrinsicParamGvdFlag           : 1
RotationGvdFlag                 : 1
TranslationGvdFlag              : 1
#======== Part 1 ============================
SignGvdZNearFlag_0              : 1         1         1           # -34.506386 # -34.506386 # -34.506386
ExpGvdZNear_0                   : 36        36        36
ManLenGvdZNearMinus1_0          : 24        24        24
ManGvdZNear_0                   : 2628136   2628136   2628136
SignGvdZFarFlag_0               : 1         1         1           # -2760.510889 # -2760.510889 # -2760.510889
ExpGvdZFar_0                    : 42        42        42
ManLenGvdZFarMinus1_0           : 24        24        24
ManGvdZFar_0                    : 11673778  11673778  11673778
#======== Part 2 ============================
PrecGvdFocalLength              : 18                              # ATM code embeded value.
PrecGvdPrincipalPoint           : 18
PrecGvdRotationParam            : 18
PrecGvdTranslationParam         : 18
#======== Part 3 ============================
SignGvdFocalLengthX_0           : 0         0         0           # 1732.875727 # 1732.875727 # 1732.875727
ExpGvdFocalLengthX_0            : 41        41        41
ManGvdFocalLengthX_0            : 185827518 185827518 185827518
SignGvdFocalLengthY_0           : 0         0         0           # 1729.908923 # 1729.908923 # 1729.908923
ExpGvdFocalLengthY_0            : 41        41        41
ManGvdFocalLengthY_0            : 185049788 185049788 185049788
SignGvdPrincipalPointX_0        : 0         0         0           # 943.231169 # 943.231169 # 943.231169
ExpGvdPrincipalPointX_0         : 40        40        40
ManGvdPrincipalPointX_0         : 113044663 113044663 113044663
SignGvdPrincipalPointY_0        : 0         0         0           # 548.845040 # 548.845040 # 548.845040
ExpGvdPrincipalPointY_0         : 40        40        40
ManGvdPrincipalPointY_0         : 9658706   9658706   9658706
SignGvdR_0_0                    : 0         0         0           # 1.000000 # 0.000000 # 0.000000
SignGvdR_0_1                    : 0         0         0           # 0.000000 # 1.000000 # 0.000000
SignGvdR_0_2                    : 0         0         0           # 0.000000 # 0.000000 # 1.000000
ExpGvdR_0_0                     : 31        0         0
ExpGvdR_0_1                     : 0         31        0
ExpGvdR_0_2                     : 0         0         31
ManGvdR_0_0                     : 0         0         0
ManGvdR_0_1                     : 0         0         0
ManGvdR_0_2                     : 0         0         0
SignGvdTX_0                     : 0         0         0           # 6.372093 # 7.965116 # 4.779070
ExpGvdTX_0                      : 33        33        33
ManGvdTX_0                      : 621829    1039431   204228
